#feed {
  background-color: rgba(0, 17, 36, 0.6);
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
#feedTitle {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin-bottom: 20px;
  text-emphasis: left;
  font-size: 35px;
}
#feedSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#germanBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
#germanBtn:hover {
  background-color: #0056b3;
}
#EnglishBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
#EnglishBtn:hover {
  background-color: #0056b3;
}
