#feed {
  background-color: rgba(0, 17, 36, 0.6);
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
#feedTitle {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin-bottom: 20px;
  text-emphasis: left;
  font-size: 35px;
}
#feedSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
