:root {
  font-family: "Nunito", sans-serif;
}

body {
  background-image: url("../Images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}
html {
  margin: 0;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 40, 85);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  height: 35px;
  overflow: hidden;
}
#nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-text {
  color: black;
  text-decoration: none;
  font-size: 18px;
  text-decoration: none;
}

footer {
  background-color: rgba(0, 0, 0, 0.474);
  text-align: center;
  padding: 5px;
  bottom: 0;
  width: 100%;
  position: fixed;
}
#logo,
#profile-icon {
  display: block;
  height: 35px;
}
.nav-right {
  height: 35px;
  width: auto;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin: 10px 0;
  border-radius: 1px;
}
