#bookshelf {
  background-color: rgba(0, 17, 36, 0.6);
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* align everything to the left */
  border-radius: 20px;
}
#bookshelfTitle {
  color: rgb(0, 0, 0);
  font-size: 35px;
  margin-bottom: 10px;
  font-family: "Nunito", sans-serif;
}
#bookshelfIcon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-left: 20px;
  color: white;
}
.bookshelf-header {
  display: flex;
  align-items: center;
  margin: 10px;
}

.bookshelfBtns:hover {
  background-color: #5a53d6;
}
.bookshelfBtns {
  background-color: #6c63ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px; /* Add some space between buttons */
}
